.settings-page__header {
    min-height: 100vh;
    height: auto;
}
.alert {
    margin-bottom: 0!important;
}
.alert.hidden {
    display: none;
}
.a-card--success {
    border-color: #37ba32;
    background-color: #ebf8eb;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 1px #37ba32 inset;
}
.a-card--info {
    border-color: #068eef;
    background-color: #fff;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 1px #068eef inset;
}
.a-card--error {
    border-color: #fd3826;
    background-color: #ffebe9;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 1px #fd3826 inset;
}

.loader {
    animation-duration: 0.3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
}
